body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url("/bg-horoscop.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow-x: hidden;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); 
  z-index: -1; 
}

@keyframes subtleMove {
  from {
    background-position: center;
  }
  to {
    background-position: center 2px;
  }
}

body {
  animation: subtleMove 15s ease-in-out infinite alternate;
}